$color-primary: #9724b9;
$color-primary-dark: #6e1b88;
$color-primary-light: #c32af1;

$color-backdrop: rgba(0, 0, 0, 0.75);

$color-border-primary: rgba(0, 0, 0, 0.26);

$color-input-primary: black;
$color-text-primary: black;
$color-text-secondary: white;

$color-neutral-primary: white;
$color-neutral-secondary: rgb(185, 184, 184);
$color-neutral-hover: rgb(231, 231, 231);

$color-login-border: #ccc;
$color-login-background: #faf6ff;
